* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: large;
}

body {
    background: #f7f7f7;
    line-height: 1.6;
    padding: 20px;
}

.head {
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    border-bottom: 2px solid #333;
}

.head h1 {
    font-size: 40px;
    color: #1a73e8;
    margin-bottom: 10px;
}

.head h2 {
    font-size: 22px;
    color: #444;
    font-style: normal;
}

.refaat {
    background: #c70d29;
    padding: 0px;
    margin: 30px 0;
    border-left: 5px solid #1a73e8;
    border-radius: 6px;
}

.refaat h2 {
    margin-bottom: 10px;
    color: rgb(red, green, blue);
}

.refaat p {
    margin-bottom: 15px;
    font-size: 20px;
    font-style: unset;
}

.refaat img {
    margin: 16px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.Skills {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 30px;
}

.Skills h2 {
    margin-bottom: 10px;
}

.Skills ul {
    margin-top: 10px;
    padding-left: 20px;
}

.Skills li {
    margin-bottom: 8px;
}

.Skills a {
    color: #1a73e8;
    text-decoration: none;
    font-size: 20px;
}

.Contact {
    background: #fff;
    padding: 20px;

}

.Contact h2 {
    margin-top: 10px;
}

.Contact ul {
    padding-left: 20px;
    margin-top: 10px;
}

.Contact li {
    margin-bottom: 8px;
}

.Contact a {
    color: #1a73e8;
    font-size: 18px;
}